main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header {
background-color: #f8f8f8;
color: #030303;
padding: 20px;
text-align: center;
width: 100%;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
    font-size: 24px;
    margin-bottom: 10px;
}
section p{
    text-align: center;
    max-width: 800px;
    margin-bottom: 20px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #151515;
}

nav{
    padding: 15px;
}


nav a{
color: #c62828;
margin: 0 15px;
font-family: Arial, sans-serif;
font-size: 20px;
font-weight: bold;
padding: 10px;
}

img{
    width: 30px;
    height: 30px;
    margin-bottom: 20px;    
    margin: 0 auto;
    margin-bottom: 20px;
}
 
footer > h1 {
    margin: 5px;
text-align: center;
font-family: "Archivo Black", sans-serif;
}

footer {
background-color: #f8f8f8;
color: #151515;
padding: 20px;
text-align: center;
width: 100%;
}

